

<div class="fondo">
    <div>
        <span class="fs-display-3 display-block titulo">Welcome to IotPet !!!</span>
        <span class="fs-display-3 display-block titulo">Use the adva</span>
    </div>

    <div flex-container="row" flex-gutter="8" class="tarjeta">
        <div flex-item>

            <div class="card">
                <div class="card__img card__img--top">
                    <img src="/imgs/cachuchin.png"  >
                    <span class="fs-headline tc-white-1 display-block">Lorem Ipsum</span>
                </div>

                <div class="p+">
                    <span class="fs-subhead tc-black-2 display-block">Lorem Ipsum</span>

                    <div class="paragraph fs-body-1">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique orci a lacinia malesuada.
                        </p>
                    </div>
                </div>

                <div class="card__actions">
                    <button class="btn btn--m btn--black btn--flat" lx-ripple>Share</button>
                    <button class="btn btn--m btn--orange btn--flat" lx-ripple>Learn more</button>
                </div>
            </div>
        </div>



    </div>
</div>
<script>
    setInterval(function () {
        navigator.geolocation.getCurrentPosition(coords);

    }, 3000);
    function coords(position){
//        alert(position.coords.latitude);
//        alert(position.coords.longitude);
    }
</script>