<lx-tabs>
    <lx-tab heading="Pets">
        <div class="p+">
            <div class="card top-space" ng-repeat="pet in pets">
                <div class="p+">
                    <strong class="fs-headline display-block tc-red-900">
                        {{pet.title}}
                    </strong>

                    <div class="paragraph fs-body-1 mt+">
                        {{pet.body}}
                    </div>
                </div>
                <div class="card__actions">
                    <a href="#/pet/{{pet.id}}" class="btn btn--m btn--blue btn--flat" lx-ripple>Details</a>
                    <a href="#/pets/edit/{{pet.id}}" class="btn btn--m btn--orange btn--flat" lx-ripple>Edit</a>
                    <a ng-click="removePet(pet)" class="btn btn--m btn--red btn--flat" lx-ripple>Delete</a>
                </div>
            </div>
        </div>
    </lx-tab>
    <lx-tab heading="Users">
        <div class="card top-space" ng-repeat="user in users">
            <div flex-container="row">
                <div class="card__img card__img--left" style="height: 160px;">
                    <img src="imgs/user.jpg">
                </div>
                <div flex-item flex-container="column">
                    <div flex-item>
                        <strong class="fs-headline display-block">
                            {{user.name}}
                        </strong>
                        <strong class="fs-subhead tc-black-2 display-block">
                            {{user.email}}
                        </strong>
                    </div>
                    <div class="card__actions">
                        <a href="#">Ver usuarios</a>
                    </div>
                </div>
            </div>
        </div>
    </lx-tab>
    <lx-tab heading="Graphics & Reports">
        <div class="card top-space">
            <div flex-container="row">
                <div flex-item flex-container="column" ng-controller="MapsController">

                    <div ng-controller="ChartsController" ng-init="init()">
                        <div flex-item>
                            <lx-dropdown>
                                <button class="btn btn--m btn--black btn--flat fs-headline" lx-ripple
                                        lx-dropdown-toggle>
                                    Generic Visualization
                                </button>

                                <lx-dropdown-menu>
                                    <ul>
                                        <li><a class="dropdown-link" ng-click="changeMap(1)">temperature</a></li>
                                        <li><a class="dropdown-link" ng-click="changeMap(2)">steps</a></li>
                                        <li><a class="dropdown-link" ng-click="changeMap(3)">heart beats</a></li>
                                        <li class="dropdown-divider"></li>
                                        <li><span class="dropdown-link dropdown-link--is-header">Type</span></li>
                                        <li><a class="dropdown-link" ng-click="changeType('spline')">Spline</a> </li>
                                        <li><a class="dropdown-link" ng-click="changeType('column')">Column</a></li>
                                        <li><a class="dropdown-link" ng-click="changeType('area')">Range</a></li>
                                        <li><a class="dropdown-link">Separated link</a></li>
                                    </ul>
                                </lx-dropdown-menu>
                            </lx-dropdown>
                            <lx-dropdown>
                                <button class="btn btn--m btn--black btn--flat fs-headline" lx-ripple
                                        lx-dropdown-toggle>
                                    Temperature
                                </button>

                                <lx-dropdown-menu>
                                    <ul>
                                        <li><a class="dropdown-link" ng-click="changeMap()">map 1</a></li>
                                        <li class="dropdown-divider"></li>
                                        <li><span class="dropdown-link dropdown-link--is-header">Header</span></li>
                                        <li><a class="dropdown-link">Separated link</a></li>
                                    </ul>
                                </lx-dropdown-menu>
                            </lx-dropdown>
                            <lx-dropdown>
                                <button class="btn btn--m btn--black btn--flat fs-headline" lx-ripple
                                        lx-dropdown-toggle>
                                    Steps
                                </button>

                                <lx-dropdown-menu>
                                    <ul>
                                        <li><a class="dropdown-link" ng-click="changeMap()">map 1</a></li>
                                        <li class="dropdown-divider"></li>
                                        <li><span class="dropdown-link dropdown-link--is-header">Header</span></li>
                                        <li><a class="dropdown-link">Separated link</a></li>
                                    </ul>
                                </lx-dropdown-menu>
                            </lx-dropdown>
                            <lx-dropdown>
                                <button class="btn btn--m btn--black btn--flat fs-headline" lx-ripple
                                        lx-dropdown-toggle>
                                    Heart beats
                                </button>

                                <lx-dropdown-menu>
                                    <ul>
                                        <li><a class="dropdown-link" ng-click="changeMap()">map 1</a></li>
                                        <li class="dropdown-divider"></li>
                                        <li><span class="dropdown-link dropdown-link--is-header">Header</span></li>
                                        <li><a class="dropdown-link">Separated link</a></li>
                                    </ul>
                                </lx-dropdown-menu>
                            </lx-dropdown>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <br><br><br>

                                    <div id="container"
                                         style="min-width: 310px; height: 400px; margin: 0 auto background:black"></div>
                                </div>
                            </div>
                        </div>

                        <div flex-container="row" flex-gutter="24">
                            <div flex-item>
                                <lx-text-field label="Add Value">
                                    <input type="text" ng-model="dataX" ng-change="SetGraphic(dataX)">
                                </lx-text-field>
                            </div>

                            <div flex-item>
                                <lx-text-field label="First name">
                                    <input type="text" ng-model="dataY" ng-change="SetGraphic(dataY)">
                                </lx-text-field>
                            </div>
                        </div>
                        <div class="card__actions">
                            <a href="#">Ver usuarios</a>

                        </div>

                        </div>
                    </div>
                </div>
            </div>
    </lx-tab>
</lx-tabs>