<form ng-submit="saveUser()">
	<div class="card top-space">
		<div class="p+">
			<h1>{{title}}</h1>
				<div flex-item>
					<lx-text-field label="First Name">
						<input type="text" ng-model="user.firstname">
					</lx-text-field>
				</div>
			

			<div flex-container="row">
				<div flex-item>
					<lx-text-field label="Last Name">
						<textarea ng-model="user.lastname">

						</textarea>
					</lx-text-field>
				</div>
			</div>


			<div flex-container="row">
				<div flex-item>
					<lx-text-field label="Email">
						<textarea ng-model="user.email">

						</textarea>
					</lx-text-field>
				</div>
			</div>

			<div flex-item>
        		<lx-file-input label="Image..."></lx-file-input>
    		</div>
		</div>
		<div class="card__actions">
			<button type="submit" class="btn btn--blue btn--l btn--raised">Guardar</button>
		</div>
	</div>
</form>